@import "tailwindcss";

@theme {
  --color-surface: #161712;
  --color-surface-container-low: #1a1c15;
  --color-surface-container: #1f211a;
  --color-surface-container-high: #282a22;
  --color-surface-container-highest: #3d3e34;
  --color-surface-variant: #2c2e25;
  --color-surface-bright: #33352b;

  --color-primary: #d96634;
  --color-primary-dim: #cc6c3d;
  --color-primary-container: #662a0a;
  --color-on-primary: #451a03;
  --color-on-primary-container: #ffd9c2;

  --color-secondary: #a39c94;
  --color-secondary-dim: #a39c94;
  --color-secondary-container: #5c544d;

  --color-tertiary: #f9f6f2;
  --color-tertiary-dim: #f2eee9;

  --color-error: #ee7d77;
  --color-error-container: #7f2927;

  --color-on-surface: #f2eee9;
  --color-on-surface-variant: #c2beb4;
  --color-outline: #858178;
  --color-outline-variant: #4d4a43;

  --font-family-headline: "Manrope", system-ui, sans-serif;
  --font-family-body: "Inter", system-ui, sans-serif;
  --font-family-label: "Inter", system-ui, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
